body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:20px;
  top:20px;
  width:720px;
  height:570px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:570px;
}
#u2 {
  position:absolute;
  left:2px;
  top:277px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:760px;
  top:190px;
  width:520px;
  height:400px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:400px;
}
#u4 {
  position:absolute;
  left:2px;
  top:192px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:101px;
  top:160px;
  width:548px;
  height:57px;
  font-size:48px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:57px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:140px;
  top:250px;
  width:470px;
  height:110px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:120px;
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u8 {
  position:absolute;
  left:2px;
  top:26px;
  width:466px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:140px;
  top:390px;
  width:470px;
  height:110px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:120px;
}
#u9_img.mouseOver {
}
#u9.mouseOver {
}
#u10 {
  position:absolute;
  left:2px;
  top:26px;
  width:466px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:101px;
  top:75px;
  width:548px;
  height:42px;
  font-size:36px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:42px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:810px;
  top:356px;
  width:412px;
  height:74px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:74px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  word-wrap:break-word;
}
