body {
  margin:0px;
  background-color:rgba(255, 255, 255, 0.509803921568627);
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:20px;
  top:20px;
  width:720px;
  height:570px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:570px;
}
#u2 {
  position:absolute;
  left:2px;
  top:277px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:760px;
  top:190px;
  width:520px;
  height:400px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:400px;
}
#u4 {
  position:absolute;
  left:2px;
  top:192px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:160px;
  top:98px;
  width:445px;
  height:37px;
  font-size:36px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:37px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:90px;
  top:245px;
  width:240px;
  height:120px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:130px;
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u8 {
  position:absolute;
  left:2px;
  top:39px;
  width:236px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:390px;
  top:245px;
  width:260px;
  height:120px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:130px;
}
#u9_img.mouseOver {
}
#u9.mouseOver {
}
#u10 {
  position:absolute;
  left:2px;
  top:18px;
  width:256px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:288px;
  top:500px;
  width:189px;
  height:60px;
  font-size:28px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:60px;
}
#u12 {
  position:absolute;
  left:2px;
  top:14px;
  width:185px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:51px;
  top:500px;
  width:189px;
  height:60px;
  font-size:28px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:60px;
}
#u14 {
  position:absolute;
  left:2px;
  top:14px;
  width:185px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:20px;
  top:470px;
  width:720px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:2px;
  width:720px;
  height:6px;
}
